 {{outlet}}
<h2>TRENDING</h2>
<div class="container">
{{#each model.trending as |movie|}}
	
    {{#paper-card as |card|}}
      <img {{action "transitionToDetails" movie}} src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" alt="Image" title={{movie.title}} style="width:300px;height:300px">
      {{#card.actions class="layout-column"}}
        {{#paper-button onClick=(action 'addToFavourite' movie)}}Add to Favourites{{/paper-button}} 
      {{/card.actions}} 
    {{/paper-card}}
	
{{/each}}
</div>

<h2>UPCOMING</h2>
<div class="container">
{{#each model.upcoming as |movie|}}
	
    {{#paper-card as |card|}}
      <img {{action "transitionToDetails" movie}} src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" alt="Image" title={{movie.title}} style="width:300px;height:300px">
      {{#card.actions class="layout-column"}}
        {{#paper-button onClick=(action 'addToFavourite' movie) }}Add to Favourites{{/paper-button}}
      {{/card.actions}} 
    {{/paper-card}}
	
{{/each}}
</div>
	